In [10]:
#Import all the necessary libraries here
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [12]:
#loading data
df=pd.read_csv("currencies.csv")
df

,Currency,Chinese Yuan,Euro,Japanese Yen,U.K. Pound Sterling,U.S. Dollar,Algerian Dinar,Australian Dollar,Bahrain Dinar,Botswana Pula,...,South African Rand,Sri Lanka Rupee,Swedish Krona,Swiss Franc,Thai Baht,Trinidad And Tobago Dollar,Tunisian Dinar,U.A.E. Dirham,Peso Uruguayo,Bolivar Fuerte
0,"July 01, 2016",9.29446,1.25367,143.645,1.05054,1.39596,NaN,1.87126,0.524882,NaN,...,20.3528,202.763,11.8246,1.36009,NaN,9.28428,3.06035,5.12668,NaN,13.9247
1,"July 05, 2016",9.31515,1.25322,142.715,1.06143,1.39684,154.063,1.85825,0.525213,15.2162,...,20.6240,202.886,11.7627,1.35689,49.0655,9.26724,NaN,5.12992,42.9026,13.9335
2,"July 06, 2016",9.31697,1.25834,140.540,1.07300,1.39286,154.094,1.87313,0.523717,15.2392,...,20.7232,NaN,11.8805,1.36208,49.0692,9.25643,NaN,5.11527,42.6425,13.8938
3,"July 07, 2016",9.31315,1.25737,140.640,1.06911,1.39316,153.957,1.85236,0.523829,15.1430,...,20.4288,202.351,11.9192,1.36098,49.0295,NaN,NaN,5.11637,42.4176,13.8968
4,"July 08, 2016",9.31350,1.25797,140.510,1.07261,1.39257,154.062,1.85974,0.523607,15.1202,...,20.6063,202.271,11.9327,1.36472,49.0408,9.26432,NaN,5.11423,42.2060,13.8909
5,"July 11, 2016",9.29403,1.25769,139.962,1.07050,1.38962,153.742,1.83836,0.522496,15.0067,...,20.0773,201.842,11.9439,1.36641,48.7950,9.23745,3.07068,5.10337,NaN,13.8614
6,"July 12, 2016",9.31021,1.25490,143.369,1.05762,1.39194,153.869,1.83439,0.523368,14.9510,...,19.9238,202.179,11.8614,1.36674,48.9182,9.28617,3.07901,5.11187,NaN,13.8845
7,"July 13, 2016",9.31350,1.25716,145.178,1.04680,1.39193,153.855,1.83101,0.523366,14.9509,...,19.9273,202.175,11.9234,1.37063,48.9958,9.29005,3.06884,5.11187,42.1644,13.8845
8,"July 14, 2016",9.30432,1.24695,144.895,1.05236,1.39122,153.763,1.82791,0.523097,14.9112,...,19.8519,202.074,11.8098,1.36326,48.8873,9.29990,NaN,5.10926,NaN,13.8774
9,"July 15, 2016",9.31532,1.25263,147.268,1.04242,1.39392,NaN,1.82786,0.524115,14.9723,...,20.0040,202.467,11.8409,1.36451,48.7607,9.31437,NaN,5.11917,42.0267,13.9044
10,"July 18, 2016",9.30354,1.25652,NaN,1.04952,1.38883,153.648,1.82741,0.522201,NaN,...,19.8556,201.728,NaN,1.36647,NaN,9.28514,3.06822,5.10048,NaN,13.8536

In [15]:
df.columns

Index(['Currency', 'Chinese Yuan', 'Euro', 'Japanese Yen',
       'U.K. Pound Sterling', 'U.S. Dollar', 'Algerian Dinar',
       'Australian Dollar', 'Bahrain Dinar', 'Botswana Pula', 'Brazilian Real',
       'Brunei Dollar', 'Canadian Dollar', 'Chilean Peso', 'Colombian Peso',
       'Czech Koruna', 'Danish Krone', 'Hungarian Forint', 'Icelandic Krona',
       'Indian Rupee', 'Indonesian Rupiah', 'Iranian Rial',
       'Israeli New Sheqel', 'Kazakhstani Tenge', 'Korean Won',
       'Kuwaiti Dinar', 'Libyan Dinar', 'Malaysian Ringgit', 'Mauritian Rupee',
       'Mexican Peso', 'Nepalese Rupee', 'New Zealand Dollar',
       'Norwegian Krone', 'Rial Omani', 'Pakistani Rupee', 'Nuevo Sol',
       'Philippine Peso', 'Polish Zloty', 'Qatar Riyal', 'Russian Ruble',
       'Saudi Arabian Riyal', 'Singapore Dollar', 'South African Rand',
       'Sri Lanka Rupee', 'Swedish Krona', 'Swiss Franc', 'Thai Baht',
       'Trinidad And Tobago Dollar', 'Tunisian Dinar', 'U.A.E. Dirham',
       'Peso Uruguayo', 'Bolivar Fuerte'],
      dtype='object')

In [16]:
#Euro, Japanese Yen, U.K. Pound Sterling, US Dollar, Chineese Yuan, Australian Dollar, Indian Rupee.
df1 = df[['Euro','Japanese Yen','U.K. Pound Sterling','U.S. Dollar','Chinese Yuan','Australian Dollar','Indian Rupee']]
df1

,Euro,Japanese Yen,U.K. Pound Sterling,U.S. Dollar,Chinese Yuan,Australian Dollar,Indian Rupee
0,1.25367,143.645,1.05054,1.39596,9.29446,1.87126,94.1451
1,1.25322,142.715,1.06143,1.39684,9.31515,1.85825,94.1513
2,1.25834,140.540,1.07300,1.39286,9.31697,1.87313,NaN
3,1.25737,140.640,1.06911,1.39316,9.31315,1.85236,94.0345
4,1.25797,140.510,1.07261,1.39257,9.31350,1.85974,93.9408
5,1.25769,139.962,1.07050,1.38962,9.29403,1.83836,93.3027
6,1.25490,143.369,1.05762,1.39194,9.31021,1.83439,93.4641
7,1.25716,145.178,1.04680,1.39193,9.31350,1.83101,93.5445
8,1.24695,144.895,1.05236,1.39122,9.30432,1.82791,93.0917
9,1.25263,147.268,1.04242,1.39392,9.31532,1.82786,NaN
10,1.25652,NaN,1.04952,1.38883,9.30354,1.82741,93.1923

In [17]:
corr = df1.corr()
corr.style.background_gradient(cmap='coolwarm')